nav ul {
    display: flex;
    background-color: #023756;
}

nav li {
    list-style-type: none;
    border: 1px solid #F17A6B;
    border-radius: 1em 1em 0 0;
    border-bottom: none;
    background-color: #FCC5A2;
}

nav li a {
    padding: 1em 1em .5em;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

nav li a[aria-current="false"] {
    border-bottom: 1px solid #F17A6B;
}

main {
    padding: 1em;
}
