.room {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #023756;
    border-radius: 1em;
    border: 2px solid #00173D;
    z-index: 0;
}

.speaker::before {
    content: "";
    mask-image: url('../../node_modules/material-design-icons/hardware/svg/design/ic_speaker_24px.svg');
    mask-repeat: none;
    mask-size: contain;
    background-color: #109030;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.speaker {
    position: absolute;
    padding-top: 1em;
    width: 3em;
    height: 3em;
    background-color: #c01030;;
    color: #000;
    border-radius: 3em;
    vertical-align: bottom;
    text-align: center;
    z-index: 2;
}

.listener::before {
    content: "";
    mask-image: url('../../node_modules/material-design-icons/av/svg/design/ic_hearing_24px.svg');
    mask-repeat: none;
    mask-size: contain;
    background-color: #F17A6B;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.listener {
    position: absolute;
    width: 3em;
    height: 3em;
    background-color: #A2F9FC;
    border-radius: 1.5em;
    z-index: 2;
}
