* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 1em;
    font-family: sans-serif;
    background-color: #FCC5A2;
}

body, button {
    color: #00173D;
}

input[type="range"] {
    width: 90vw;
    display: block;
}

button {
    width: 75px;
    height: 75px;
    margin: .5em;
    border-radius: .5em;
    background-color: #F0957D;
    border-color: #F17A6B;
}

