input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10.1px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 1.4px #000000, 0px 0px 0.2px #0d0d0d;
  background: #a2f9fc;
  border-radius: 11.8px;
  border: 0.4px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.6px 2.6px 1.1px rgba(2, 55, 86, 0.85), 0px 0px 2.6px rgba(3, 71, 111, 0.85);
  border: 3px solid #f17a6b;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #f0957d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e7fdfe;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10.1px;
  cursor: pointer;
  box-shadow: 0.2px 0.2px 1.4px #000000, 0px 0px 0.2px #0d0d0d;
  background: #a2f9fc;
  border-radius: 11.8px;
  border: 0.4px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.6px 2.6px 1.1px rgba(2, 55, 86, 0.85), 0px 0px 2.6px rgba(3, 71, 111, 0.85);
  border: 3px solid #f17a6b;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #f0957d;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #5df5fa;
  border: 0.4px solid #010101;
  border-radius: 23.6px;
  box-shadow: 0.2px 0.2px 1.4px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #a2f9fc;
  border: 0.4px solid #010101;
  border-radius: 23.6px;
  box-shadow: 0.2px 0.2px 1.4px #000000, 0px 0px 0.2px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2.6px 2.6px 1.1px rgba(2, 55, 86, 0.85), 0px 0px 2.6px rgba(3, 71, 111, 0.85);
  border: 3px solid #f17a6b;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #f0957d;
  cursor: pointer;
  height: 10.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #a2f9fc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e7fdfe;
}
